.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.textContainer {
  width: 40%;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 580px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .festmap,
  .textContainer {
    width: 80%;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
}

.festmap,
.expandedImage {
  cursor: pointer;
}

.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.expandedImage {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
}

.textContainer button {
  width: 50%;
  align-self: center;
  background: none;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  margin: 2rem 0 0 0;
  color: white;
  width: 9rem;
  padding: 1rem;
  border-radius: 10px;
}
.textContainer button:hover {
  background: rgb(36, 250, 125);
  border: none;
  border: 2px solid rgb(17, 166, 79);
  cursor: pointer;
  color: rgb(0, 0, 0);
  width: 9rem;
  padding: 1rem;
  border-radius: 10px;
}
